.form {
  display: flex;
  flex-direction: column;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.deferred-select-placeholder-container {
  display: flex;
  align-items: center;
}
.deferred-select-placeholder-container > span {
  flex: 1;
}
::ng-deep .hide-deferred-select-dummy-option {
  display: none !important;
}
.internal-spinner {
  display: inline-block;
  position: absolute;
  right: 25px;
}
