:host{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

::ng-deep{
  .success-notification-message{
    background: #3b3b3b;
  }
}

.action-button{
  background-color: #00af3b;
  color: lightgoldenrodyellow;
}

.message-text{
  width: 80%;
}
