:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;

  .chat { // should improve this one later
    width: 100%;

    height: 50vh;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;

    background-color: #ffffff;
    opacity: 0.8;
    margin-bottom: 10px;
    overflow-y: scroll;

    p {
      span {
        font-size: 16px;
        color: red;
      }

      &.my-massage {
        text-align: right;
      }
    }
  }

  .chat-input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
  }

  .chat-input {
    padding-right: 30px;
  }

  .send-icon {
    padding: 0 7px 0 7px;
    position: absolute;
    transform: rotate(-80deg);
  }

  .send-icon:hover{
    cursor: pointer;
    color: #18A5FE;
  }

  .common-input {
    margin: 0;
  }
}
