.container {
  display: flex;
  padding: 10px;
  column-gap: 10px;


  .aside {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .selected-character-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }

    .selected-character {
      display: flex;
      column-gap: 3px;
    }

    .btn {
      padding: 10px 35px;
      font-size: 18px;
      border-radius: 15px;
      color: var(--home-button-text-color);
      opacity: var(--home-button-opacity);
      background: var(--home-button-background);
      transition: all .4s;
      cursor: pointer;
      width: 95%;
    }

    .btn:hover {
      opacity: var(--home-button-hover-opacity);
      box-shadow: none;
    }
  }

  game-chat {
    //width: 100%;
    width: 325px;
  }

  .results {
    width: 90%;
    height: 85vh;
    background: white;
    margin-top: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
