:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.container {
  display: flex;
  padding: 10px;
  column-gap: 10px;


  .aside {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .selected-character-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }

    .selected-character {
      display: flex;
      column-gap: 3px;
    }

    .btn {
      padding: 10px 35px;
      font-size: 18px;
      border-radius: 15px;
      color: var(--home-button-text-color);
      background: var(--home-button-background);
      transition: all .4s;
      cursor: pointer;
      width: 95%;
    }

    .btn:hover {
      opacity: var(--home-button-hover-opacity);
      box-shadow: none;
    }

    .btn.disabled {
      cursor: default;
      background: red;
      opacity: 0.5;
    }
  }

  game-chat {
    //width: 100%;
    width: 325px;
  }

  .results {
    width: 90%;
    height: 85vh;
    background: white;
    margin-top: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}


.spinner {
  width: 200px;
  height: 200px;
  margin: auto;
  position: absolute;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Mangekyou_Sharingan_Kakashi.svg/1200px-Mangekyou_Sharingan_Kakashi.svg.png");
  background-size: contain;
  background-position: center;
  animation: spinner .8s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
