<div class="container">
  <game-cards [cards]="cards"></game-cards>
  <aside class="aside">
    <div class="selected-character-wrapper">
      <div class="selected-character">
        <game-card [type]="'opponent-card'" [character]="selected_character"
                   [ngStyle]="{}" [underImageMessage]="'Card for opponent'"></game-card>
        <game-card [type]="'opponent-card'" [character]="selected_character"
                   [ngStyle]="{}" [underImageMessage]="'Opponent\'s card'"></game-card>
      </div>
      <button class="btn">Withdraw selected cards</button>
    </div>
    <game-chat></game-chat>
  </aside>
</div>
