<div class="container">
  <!--  <button (click)="request()" *ngIf="!isSearching" class="btn">-->
  <!--    Find Opponent-->
  <!--  </button>-->
  <app-rooms-grid class="rooms-grid"></app-rooms-grid>
  <div class="aside">

    <!--    <button class="btn" (click)="createRoom()">-->
    <!--&lt;!&ndash;      Maybe play with friends I am not sure&ndash;&gt;-->
    <!--      Create-->
    <!--    </button>-->
    <div class="news-tab">
      <app-events-tab></app-events-tab>
    </div>

    <div class="buttons-wrapper">
      <button class="btn" (click)="createRoom()">
        Create Game
      </button>
      <button class="btn" (click)="comingSoon()">
        Join random game
      </button>
      <button class="btn" (click)="comingSoon()">
        Play with computer
      </button>
    </div>
  </div>
</div>
