@import "../../../../style/variables";
.container {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .searching{
    display: flex;
    flex-direction: column;
  }
  p{
    font-size: 22px;
    color: white;
    text-align: center;
  }

  .btn {
    padding: 15px 110px;
    font-size: 20px;
    border-radius: 15px;
    color: white;
    background: linear-gradient(to right, $saske-aura, $red-background, $naruto-aura);
    box-shadow: 0 0 20px $button-light;
    transition: all .4s;
    cursor: pointer;
    margin: 180px 0 0 0;
  }

  .btn:hover {
    box-shadow: 0 0 40px $button-light;
  }
}
