.bleach {
  background-image: url(colages/bleach.jpg);
}

.dragon-ball {
  background-image: url(colages/dragon-ball.jpg);
}

.jojo {
  background-image: url(colages/jojo.jpg);
}

.hunter {
  background-image: url(colages/hunter.jpg);
}

.one-piece {
  background-image: url(colages/one-piece.jpg);
}

.one-punch {
  background-image: url(colages/one-punch.jpg);
}

.demon_slayer {
  background-image: url(colages/demon-slayer.jpg);
}

.attack_on_titan {
  background-image: url(colages/attack-on-titan.jpg);
}

.my_hero_academia {
  background-image: url(colages/my-hero-academia.jpg);
}

.fairy_tail {
  background-image: url(colages/fairy-tail.jpg);
}

.naruto {
  background-image: url(colages/naruto.jpg);
}
