.bleach {
  background-image: url(colages/bleach.jpg);
}

.dragon-ball {
  background-image: url(colages/dragon-ball.jpg);
}

.jojo {
  background-image: url(colages/jojo.jpg);
}

.hunter {
  background-image: url(colages/hunter.jpg);
}

.one-piece {
  background-image: url(colages/one-piece.jpg);
}

.one-punch {
  background-image: url(colages/one-punch.jpg);
}
