@mixin stroked-text($text-color-value, $text-stroke-width-value, $text-stroke-color-value) {
  color: $text-color-value;
  -webkit-text-stroke-width: $text-stroke-width-value;
  -webkit-text-stroke-color: $text-stroke-color-value;
}

@mixin svg-icon-size($svg-icon-width, $svg-icon-height, $svg-icon-font-size) {
  width: $svg-icon-width;
  height: $svg-icon-height;
  font-size: $svg-icon-font-size;
}
