<nav>
  <ul class="nav-elements">
    <li class="logo">
      <mat-icon svgIcon="ani-game-logo" class="ani-game-logo" routerLink="/home"></mat-icon>
    </li>
    <li class="nav-element" routerLink="/game/search">
      Games
    </li>
    <!--    <li class="nav-element" routerLink="/profile/{{userId}}">-->
    <!--      MyProfile-->
    <!--    </li>-->
    <!--    <li class="nav-element" routerLink="/leaderboard">-->
    <li class="nav-element" routerLink="/coming-soon">
      Leaderboard
    </li>
    <button class="nav-element theme-button" mat-button [matMenuTriggerFor]="themeMenu">
      Themes
    </button>

    <li class="auth-button nav-element" id="login" *ngIf="!this.cookie.getRefreshToken()">
      <a routerLink="/login">Login</a>
    </li>

    <li class="auth-button  nav-element profile-icon-wrapper" id="logout" *ngIf="this.cookie.getRefreshToken()">
      <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="Profile menu">
        <mat-icon svgIcon="profile-icon" class="profile-icon"></mat-icon>
      </button>
    </li>

  </ul>
</nav>

<mat-menu #themeMenu>
  <div class="circle-wrapper">
    <app-circle-selector
      [states]="themeStates"
      [selectedState]="selectedState"
      (stateChange)="onStateChange($event)"
    ></app-circle-selector>
  </div>
</mat-menu>

<mat-menu #profileMenu class="profile-menu" [ngClass]="'profile-menu'">
  <div class="menu-buttons-wrapper">
    <button mat-menu-item routerLink="/profile/{{userId}}" class="menu-button profile-menu-button">
      <mat-icon [svgIcon]="'flame-profile-icon'" class="flame-profile-icon"></mat-icon>
      <span class="menu-text">Profile</span>
    </button>

    <mat-divider class="mat-devider"></mat-divider>

    <button mat-menu-item routerLink="coming-soon" class="menu-button settings-button">
      <mat-icon class="settings-icon" [svgIcon]="'settings-icon'"></mat-icon>
      <span class="menu-text">
      Settings
    </span>

    </button>

    <mat-divider class="mat-devider"></mat-divider>

    <button mat-menu-item (click)="logout()" class="menu-button logout-button">
      <mat-icon [svgIcon]="'logout-icon'" class="logout-icon"></mat-icon>
      <span class="menu-text">
      Logout
    </span>
    </button>
  </div>
</mat-menu>

