<nav>
  <ul class="nav-elements">
    <li class="logo">
      <mat-icon svgIcon="ani-game-logo" class="ani-game-logo" routerLink="/home"></mat-icon>
    </li>
    <li class="nav-element" routerLink="/game/search">
      Games
    </li>
    <li class="nav-element" routerLink="/profile/{{userId}}">
      MyProfile
    </li>
<!--    <li class="nav-element" routerLink="/leaderboard">-->
    <li class="nav-element" routerLink="/coming-soon">
      Leaderboard
    </li>
    <button class="nav-element theme-button" mat-button [matMenuTriggerFor]="themeMenu">
      Themes
    </button>

    <li class="auth-button nav-element" id="login" *ngIf="!this.cookie.getRefreshToken()">
      <a routerLink="/login">Login</a>
    </li>
    <li class="auth-button  nav-element" id="logout" *ngIf="this.cookie.getRefreshToken()" (click)="logout()">
      <p>Logout</p>
    </li>
  </ul>
</nav>

<mat-menu #themeMenu
>
  <div class="circle-wrapper">
    <app-circle-selector
      [states]="themeStates"
      [selectedState]="selectedState"
      (stateChange)="onStateChange($event)"
    ></app-circle-selector>
  </div>
</mat-menu>
